<section class="page_copyright ds s-py-20">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 text-center text-md-left animate" data-animation="fadeInUp">
				<p>&copy; <span class="copyright_year">2024</span> Casabiocasamia s.r.l.s. · P.IVA 05022260870</p>
			</div>
			<div class="col-md-6 text-center text-md-right  animate" data-animation="fadeInUp">
				<div class="widget widget_nav_menu">
					<a href="/privacy">Privacy</a>
					<a href="#" title="facebook"><span class="fa fa-facebook bg-icon rounded-icon"></span></a>
					<a href="#" title="google"><span class="fa fa-google bg-icon rounded-icon"></span></a>
					<a href="#" title="instagram"><span class="fa fa-instagram bg-icon rounded-icon"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
