<IfModule mod_deflate.c>

	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript font/ttf font/woff image/svg+xml
	
</IfModule>

<IfModule mod_expires.c>

	Header set cache-control: public
	ExpiresActive on
	ExpiresByType text/html     "access plus 0 seconds"
	ExpiresByType application/json "access plus 0 seconds"

</IfModule>

<IfModule mod_rewrite.c>

	<IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

	RewriteEngine on

	RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteCond %{HTTPS} off
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# RewriteCond %{REQUEST_FILENAME} !-d
	# RewriteCond %{REQUEST_URI} (.+)/$
	# RewriteRule ^ %1 [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L,QSA]

</IfModule>