<form action="javascript:void(0);" method="get" class="filter-wrapper">
    <div class="params-wrapper">
        <div class="dropdown-toggle" data-toggle-filter></div>
        <div class="tokens-wrapper"></div>
        <div class="search-input-wrapper">
            <input type="text" name="key" value="{{ data.filterParams.key ?? '' }}" placeholder="Ricerca per titolo o nota..." autocomplete="off">
        </div>
        <button type="button" class="filter-submit" data-action="submit"></button>
    </div>
    <div class="dropdown-wrapper">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Utente</label>
                <div class="col-md-9">
                    <select class="form-control multiselect filter-param" name="user_id[]" multiple>
                        {% for responsible in user.getSiblings() %}
                        <option value="{{ responsible.getId() }}" {{ setOption(responsible.getId(), data.responsible_id) }}>{{ responsible.getFullName() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <button class="submit" data-action="submit">APPLICA FILTRO</button>
    </div>
</form> 