{% set title = 'Insufflaggio cellulosa Catania | Isolamento casa senza lavori invasivi' %}
{% set description = 'Insufflaggio di cellulosa a Catania e provincia per isolare casa senza demolizioni. Migliora comfort e riduci dispersioni termiche. Preventivo gratuito.' %}
{% extends "index.twig" %}
{% block content %}
<section class="page_title ds s-pt-115 s-pb-65 s-pb-lg-85 s-pt-lg-145 bg-auto page_title s-parallax s-overlay">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center text-lg-left">
        <h1 class="color-main mb-3">Insufflaggio cellulosa a Catania</h1>
        <p class="text-white mb-25">Isola casa senza lavori invasivi e migliora il comfort in estate e inverno.</p>
        <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-lg-start c-gutter-15">
          <a href="/richiedi-preventivo" class="btn btn-maincolor btn-big" style="margin-right:20px;">Richiedi preventivo gratuito</a>
          <a href="https://wa.me/393331234567" class="btn btn-outline-maincolor btn-big">Scrivici su WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ls s-pt-60 s-pb-60 s-pt-lg-90 s-pb-lg-90">
  <div class="container">
    <div class="row align-items-center c-gutter-40">
      <div class="col-12 col-lg-7 text-center text-lg-left">
        <h2 class="mb-3">Isolamento termico per case a Catania e provincia</h2>
        <p class="mb-30">Aiutiamo famiglie e proprietari a migliorare l'isolamento di abitazioni a Catania, Acireale, Giarre, Misterbianco, Paternò, Adrano, Biancavilla, Gravina di Catania, San Giovanni la Punta, Aci Castello e Aci Catena.</p>
        <a href="/richiedi-preventivo" class="btn btn-maincolor">Prenota una consulenza gratuita</a>
      </div>
      <div class="col-12 col-lg-5 mt-4 mt-lg-0">
        <img src="{{ theme }}assets/images/cellulosa.jpg" alt="Insufflaggio di cellulosa a Catania" class="rounded w-100">
      </div>
    </div>
  </div>
</section>

<section class="ls ms s-pt-60 s-pb-60 s-pt-lg-90 s-pb-lg-90">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-2">Problemi comuni nelle case non isolate</h2>
        <p class="mb-40" style="margin-bottom:40px;">A Catania molte abitazioni soffrono questi segnali di scarso isolamento termico.</p>
      </div>
    </div>
    <div class="row c-gutter-30 c-mb-30">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="p-30 ls text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="fa fa-sun-o"></i></div>
          <h3 class="h6 mt-3 mb-2">Caldo estivo</h3>
          <p class="mb-0">Ambienti interni afosi anche con climatizzatore acceso.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="p-30 ls text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="fa fa-snowflake-o"></i></div>
          <h3 class="h6 mt-3 mb-2">Freddo invernale</h3>
          <p class="mb-0">Pareti fredde e temperature instabili nelle stanze.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="p-30 ls text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="fa fa-tint"></i></div>
          <h3 class="h6 mt-3 mb-2">Muffa e condensa</h3>
          <p class="mb-0">Umidità in zone critiche e comparsa di macchie sui muri.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="p-30 ls text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="fa fa-line-chart"></i></div>
          <h3 class="h6 mt-3 mb-2">Bollette alte</h3>
          <p class="mb-0">Consumi energetici elevati per mantenere il comfort.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ls s-pt-60 s-pb-60 s-pt-lg-90 s-pb-lg-90">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-2">Benefici dell'insufflaggio di cellulosa</h2>
        <p class="mb-40">Una soluzione rapida e non invasiva con vantaggi concreti tutto l'anno.</p>
      </div>
    </div>
    <div class="row c-gutter-30 c-mb-30">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="p-30 ms text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="ico ico-house"></i></div>
          <h3 class="h6 mt-3 mb-2">Comfort costante</h3>
          <p class="mb-0">Meno sbalzi di temperatura tra giorno e notte.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="p-30 ms text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="ico ico-plug"></i></div>
          <h3 class="h6 mt-3 mb-2">Meno sprechi energetici</h3>
          <p class="mb-0">Riduce dispersioni e supporta un consumo più efficiente.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="p-30 ms text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="ico ico-listening"></i></div>
          <h3 class="h6 mt-3 mb-2">Miglior benessere</h3>
          <p class="mb-0">Più comfort interno nei periodi caldi e freddi.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="p-30 ms text-center h-100">
          <div class="icon-styled fs-40 color-main"><i class="ico ico-award"></i></div>
          <h3 class="h6 mt-3 mb-2">Intervento non invasivo</h3>
          <p class="mb-0">Si opera con fori tecnici mirati, senza demolizioni.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <a href="/richiedi-preventivo" class="btn btn-maincolor btn-big">Richiedi preventivo gratuito</a>
      </div>
    </div>
  </div>
</section>

<section class="ds s-pt-60 s-pb-60 s-pt-lg-90 s-pb-lg-90 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <h2 class="mb-3">Quanto costa l’insufflaggio a Catania?</h2>
        <p class="mb-20">Il costo varia in base a metratura, intercapedini, accessibilità e complessità dell'intervento.</p>
        <p class="mb-35">Per questo prepariamo una valutazione su misura, con sopralluogo e preventivo gratuito.</p>
        <a href="/richiedi-preventivo" class="btn btn-maincolor btn-big">Richiedi preventivo gratuito</a>
      </div>
    </div>
  </div>
</section>

<section class="ls s-pt-60 s-pb-60 s-pt-lg-90 s-pb-lg-90">
  <div class="container">
    <div class="row c-gutter-40">
      <div class="col-12 col-lg-6">
        <h2 class="mb-3">Come funziona l’intervento</h2>
        <div class="media mb-20"><div class="icon-styled fs-30 color-main mr-15"><i class="fa fa-search"></i></div><div class="media-body"><h3 class="h6 mb-1">1. Analisi preliminare</h3><p class="mb-0">Valutiamo immobile, pareti e criticità termiche.</p></div></div>
        <div class="media mb-20"><div class="icon-styled fs-30 color-main mr-15"><i class="fa fa-file-text-o"></i></div><div class="media-body"><h3 class="h6 mb-1">2. Preventivo gratuito</h3><p class="mb-0">Ricevi una proposta personalizzata per Catania e provincia.</p></div></div>
        <div class="media"><div class="icon-styled fs-30 color-main mr-15"><i class="fa fa-check-circle"></i></div><div class="media-body"><h3 class="h6 mb-1">3. Esecuzione rapida</h3><p class="mb-0">Intervento pianificato con disagi minimi.</p></div></div>
      </div>
      <div class="col-12 col-lg-6 mt-4 mt-lg-0">
        <h2 class="mb-3">Zone servite nella provincia di Catania</h2>
        <p class="mb-25">Operiamo a Catania e nei comuni della provincia, inclusi Acireale, Giarre, Misterbianco, Paternò, Adrano, Biancavilla, Gravina di Catania, San Giovanni la Punta, Aci Castello e Aci Catena.</p>
        <a href="/richiedi-preventivo" class="btn btn-outline-maincolor">Verifica se la tua casa è adatta all'insufflaggio</a>
      </div>
    </div>
  </div>
</section>

<section class="ls ms s-pt-60 s-pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h2 class="text-center color-main mb-4">Domande frequenti</h2>
        <div id="faq-catania" class="collapse-wrapper">
          <div class="card mb-2">
            <div class="card-header" id="faqOne"><h3 class="h6 mb-0"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Quanto dura un intervento di insufflaggio a Catania?</a></h3></div>
            <div id="collapseOne" class="collapse show" aria-labelledby="faqOne" data-parent="#faq-catania"><div class="card-body">Dipende da metratura e configurazione dell’immobile, ma in genere i tempi sono rapidi.</div></div>
          </div>
          <div class="card mb-2">
            <div class="card-header" id="faqTwo"><h3 class="h6 mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Serve demolire le pareti?</a></h3></div>
            <div id="collapseTwo" class="collapse" aria-labelledby="faqTwo" data-parent="#faq-catania"><div class="card-body">No, l'intervento avviene con fori tecnici mirati e senza demolizioni importanti.</div></div>
          </div>
          <div class="card mb-2">
            <div class="card-header" id="faqThree"><h3 class="h6 mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">L’insufflaggio è adatto al clima siciliano?</a></h3></div>
            <div id="collapseThree" class="collapse" aria-labelledby="faqThree" data-parent="#faq-catania"><div class="card-body">Sì, contribuisce al comfort interno sia in estate sia in inverno.</div></div>
          </div>
          <div class="card mb-2">
            <div class="card-header" id="faqFour"><h3 class="h6 mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Quanto costa l’insufflaggio di cellulosa?</a></h3></div>
            <div id="collapseFour" class="collapse" aria-labelledby="faqFour" data-parent="#faq-catania"><div class="card-body">Il costo varia in base a superficie, intercapedini e complessità dell’intervento.</div></div>
          </div>
          <div class="card">
            <div class="card-header" id="faqFive"><h3 class="h6 mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Operate in tutta la provincia di Catania?</a></h3></div>
            <div id="collapseFive" class="collapse" aria-labelledby="faqFive" data-parent="#faq-catania"><div class="card-body">Sì, operiamo a Catania e in tutta la provincia previa verifica della disponibilità.</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cs s-py-60 s-py-lg-80 text-center">
  <div class="container">
    <h2 class="mb-3">Richiedi il tuo preventivo gratuito per Catania e provincia</h2>
    <p class="mb-4">Puoi anche consultare la <a href="/" class="text-white">homepage</a>, la pagina dedicata all’<a href="/insufflaggio/Come%20si%20esegue%20l%27insufflaggio/1" class="text-white">insufflaggio di cellulosa</a> e i dettagli su <a href="/insufflaggio/sottotetto/4" class="text-white">isolamento sottotetto</a>.</p>
    <div class="d-flex justify-content-center flex-column flex-sm-row c-gutter-15">
      <a href="/richiedi-preventivo" class="btn btn-maincolor btn-big" style="margin-right:20px;">Richiedi preventivo gratuito</a>
      <a href="https://wa.me/393331234567" class="btn btn-outline-maincolor btn-big">Scrivici su WhatsApp</a>
    </div>
  </div>
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "LocalBusiness",
      "name": "Insufflaggio Facile",
      "url": "https://www.insufflaggiofacile.it/insufflaggio-cellulosa-catania",
      "areaServed": "Catania e provincia"
    },
    {
      "@type": "Service",
      "name": "Insufflaggio di cellulosa e isolamento termico",
      "serviceType": "Insufflaggio di cellulosa e isolamento termico",
      "provider": {
        "@type": "LocalBusiness",
        "name": "Insufflaggio Facile"
      },
      "areaServed": "Catania e provincia",
      "url": "https://www.insufflaggiofacile.it/insufflaggio-cellulosa-catania"
    },
    {
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Quanto dura un intervento di insufflaggio a Catania?",
          "acceptedAnswer": {"@type": "Answer", "text": "Dipende da metratura e configurazione dell’immobile, ma in genere i tempi sono rapidi."}
        },
        {
          "@type": "Question",
          "name": "Serve demolire le pareti?",
          "acceptedAnswer": {"@type": "Answer", "text": "No, l’intervento avviene con fori tecnici mirati e senza demolizioni importanti."}
        },
        {
          "@type": "Question",
          "name": "L’insufflaggio è adatto al clima siciliano?",
          "acceptedAnswer": {"@type": "Answer", "text": "Sì, contribuisce al comfort interno sia in estate sia in inverno."}
        },
        {
          "@type": "Question",
          "name": "Quanto costa l’insufflaggio di cellulosa?",
          "acceptedAnswer": {"@type": "Answer", "text": "Il costo varia in base a superficie, intercapedini e complessità dell’intervento."}
        },
        {
          "@type": "Question",
          "name": "Operate in tutta la provincia di Catania?",
          "acceptedAnswer": {"@type": "Answer", "text": "Sì, operiamo a Catania e in tutta la provincia previa verifica della disponibilità."}
        }
      ]
    }
  ]
}
</script>
{% endblock %}
