{% extends "index.twig" %} 
{% block content %}
<section class="page_title ds s-pt-115 s-pb-65 s-pb-lg-85 s-pt-lg-145 bg-auto page_title s-parallax s-overlay">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center text-lg-left">
				<h1 class="color-main">Richiedi un preventivo</h1>
				<ol class="breadcrumb links-light">
					<li class="breadcrumb-item">
						<a href="/home">Home</a>
					</li>
					<li class="breadcrumb-item active">
						<span class="bg-maincolor">Richiedi un preventivo</span>
					</li>
				</ol>
			</div>

		</div>
	</div>
</section>

<section class="ls ms s-pt-55 s-pb-60 s-pt-lg-95 s-pb-lg-100 s-pt-xl-145 s-pb-xl-150">
	<div class="container">
		<div class="row">
			<div class="m-auto col-lg-9 animate text-center" data-animation="fadeInUp">
				<h5 class="special-heading">
					Compila il form sottostante e sarai ricontattato telefonicamente per ricevere un preventivo
				</h5>
				<div class="divider-35 divider-lg-50"></div>
				<form class="contact-form c-mb-15 c-gutter-15" method="post">
					<div class="row mb-3">
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder text-left">
								<p>Lavoriamo solo in Sicilia, in quale provincia si trova il tuo immobile?</p>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder">
								<select class="form-select provincia" name="provincia" required>
									<option value="">Scegli la provincia</option>
									<option value="AG">AGRIGENTO</option>
									<option value="CL">CALTANISSETTA</option>
									<option value="CT">CATANIA</option>
									<option value="EN">ENNA</option>
									<option value="ME">MESSINA</option>
									<option value="PA">PALERMO</option>
									<option value="RG">RAGUSA</option>
									<option value="PA">PALERMO</option>
									<option value="TP">TRAPANI</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder text-left">
								<p>In quale comune?</p>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder">
								<select class="form-select comune" name="comune" required>
									<option value="">Scegli il comune</option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="row mb-3">
						<div class="col-12">
							<div class="form-group has-placeholder text-left">
								<p>Descrivi brevemente il problema che vuoi risolvere</p>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group has-placeholder">
								<label for="message">Message</label>
								<i class="fa fa-pencil"></i>
								<textarea rows="7" cols="45" name="messaggio" class="form-control" placeholder="Descrivi il problema"></textarea>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
							<div class="form-group has-placeholder text-left">
								<p>Inserisci le informazioni richieste di seguito, le useremo per contattarti ed inviarti il preventivo richiesto.</p>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder">
								<label for="name">Nome <span class="required">*</span></label>
								<i class="fa fa-user"></i>
								<input type="text" size="30" value="" name="nome" class="form-control" placeholder="Nome" required>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder">
								<label for="surname">Cognome <span class="required">*</span></label>
								<input type="text" size="30" value="" name="cognome" class="form-control" placeholder="Cognome" required>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder">
								<label for="phone">Telefono<span class="required">*</span></label>
								<i class="fa fa-phone"></i>
								<input type="text" size="30" value="" name="telefono" class="form-control" placeholder="Telefono" required>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="form-group has-placeholder">
								<label for="email">Email<span class="required">*</span></label>
								<i class="fa fa-envelope"></i>
								<input type="email" size="30" value="" name="email" class="form-control" placeholder="Email" required>
							</div>
						</div>
					</div>
					<div class="row mt-35">
						<div class="col-sm-12">
							<div class="form-group text-center">
								<button type="submit" id="send-form" class="btn btn-wide btn-small btn-maincolor with-icon ">Invia
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!--.col-* -->
		</div>
	</div>
</section>

<section class="ls py-5 c-gutter-45 c-mb-30 c-mb-lg-0">
	<div class="container">
		<h5 class="special-heading text-center mb-5">
			I nostri contatti
		</h3>
		<div class="row">
			<div class="col-lg-4 animate" data-animation="fadeInDown">
				<div class="media box-shadow">
					<div class="fs-40">
						<i class="fa fa-map-marker fa-lg color-main"></i>
					</div>
					<div class="media-body">
						<h6>Indirizzo</h6>
						<p>
							Via Strada 11 n. 57/59 <br>
							95014 Giarre (CT)
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 animate" data-animation="fadeInDown">
				<div class="media box-shadow">
					<div class="fs-40">
						<i class="fa fa-phone-square fa-lg color-main"></i>
					</div>
					<div class="media-body">
						<h6>Phone</h6>
						<a href="tel:+393518964605">+39 3518964605</a><br>&nbsp;
					</div>
				</div>
			</div>
			<div class="col-lg-4 animate" data-animation="fadeInDown">
				<div class="media box-shadow">
					<div class="fs-40">
						<i class="fa fa-envelope fa-lg color-main"></i>
					</div>
					<div class="media-body">
						<h6>Email</h6>
						<a href="mailto:info@insufflaggiofacile.it">info@insufflaggiofacile.it</a><br>&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include '/partials/map.twig' %}

<script>

 document.addEventListener('DOMContentLoaded', function() {

	Delegate(document).on('change', '.provincia', function(event) {
		let provincia = document.querySelector('.provincia');
		HttpRequest.post(`/api/address/getCity`, { state: provincia.value }, response => {
			if (response.status != 1) {
				throw response.message ?? 'Errore generico';
			}
			let comune = document.querySelector('.comune');
			response.result.list.forEach(item => {
				const option = document.createElement('option');
				option.value = item._key;
				option.text = item._value;
				comune.add(option);
			});
		});
		/**/
	});

	Delegate(document).on('submit', '.contact-form', function(event) {
		event.preventDefault();
		const formGroups = this.querySelectorAll('.form-group');
		formGroups.forEach(group => {
			group.classList.remove('bad');
			group.querySelector('.error-text')?.remove();
		});
		this.querySelectorAll('input.bad, select.bad, textarea.bad').forEach(field => {
			field.classList.remove('bad');
		});

		let _frm = this;
		let submitButton = _frm.querySelector('button[type="submit"]');
		let validation = (new FormValidator({alerts: false})).checkAll(_frm);
		if (!validation.valid) {
			validation.fields.forEach(entry => {
				const formGroup = entry.field.closest('.form-group');
				const isInvalid = !entry.valid;
				formGroup?.classList.toggle('bad', isInvalid);
				entry.field.classList.toggle('bad', isInvalid);

				if (formGroup) {
					formGroup.querySelector('.error-text')?.remove();
					if (isInvalid) {
						const errorText = document.createElement('div');
						errorText.className = 'error-text';
						errorText.textContent = entry.message || 'Campo non valido';
						formGroup.append(errorText);
					}
				}
			});
		} else {
			let data = (new FormSerializer(_frm)).serialize();
			submitButton?.classList.add('invisible');
			HttpRequest.post(`/api/richiedi-preventivo`, {...data, piattaforma: 'website' }, response => {
				submitButton?.classList.remove('invisible');
				if (response.status != 1) {
					throw response.message ?? 'Errore generico';
				}
				//gtag_report_conversion('/ok');
				window.location.href = `/ok`;
			});
		}
	});
	
});

</script>

{% endblock content %}
