*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #F5F7F9;
    font-family: 'Avenir', 'Roboto', 'Open Sans', 'Arial';
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    line-height: 1.2;
}

#root,
#__next {
    isolation: isolate;
}

.inner {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    inset: 0;
    margin: 50px auto auto;
    padding: 25px 50px;
    width: 600px;
    max-height: 350px;
    max-width: calc(100% - 30px);
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #EEE;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(100 100 100 / 20%);
}

.inner .icon {
    flex: 0 0 100%;
    margin: 0px auto 10px;
}

.inner .icon svg {
    display: block;
    width: 75px;
    margin: 0px auto;
}

.inner h1 {
    font-size: 64px;
}

.inner h2 {
    flex: 0 0 100%;
    font-size: 32px;
    font-weight: 600;
    margin: 0px auto 10px;
}

.inner p {
    font-size: 20px;
}

.error-dump {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 14px;
    color: transparent;
    cursor: default;
}

.error-dump::selection {
    background-color: transparent;
    color: #555;
}