{% extends 'index.twig' %}
{% block content %}
<div class="widget">
    <div class="content">
        <form class="form-horizontal linked-fields contact-form" action="javascript:void(0);" method="POST" autocomplete="off">
            {% if data.insufflaggio.getId() is not null %}
            <input type="hidden" name="id" value="{{ data.insufflaggio.getId() }}">
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-md-3">Titolo</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="title" value="{{ data.insufflaggio.getTitle() }}" required>
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="control-label col-md-3">Meta Descrizione</label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="meta_description" rows="8">{{ data.insufflaggio.getMetaDescription() }}</textarea>
                            </div> 
                        </div>  
                        <div class="form-group">
                            <label class="control-label col-md-3">Descrizione</label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="description" rows="8">{{ data.insufflaggio.getDescription() }}</textarea>
                            </div> 
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    

    ClassicEditor
		.create( document.querySelector( 'textarea[name="description"]' ), {
            minHeight: '300px',
            updateSourceElementOnDestroy: true,
            forcePasteAsPlainText: true,
			htmlSupport: {
				allow: [
					{
						name: /^.*$/,
						styles: true,
						attributes: true,
						classes: true
					}
				]
			},
            alignment: {
                options: [ 'left', 'right', 'center', 'justify' ]
            },
            toolbar: {
                items: [
                    'undo', 'redo',
                    '|', 'bold', 'italic',
                    '|', 'bulletedList', 'numberedList',
                    '|', 'alignment',
					'|', 'sourceEditing',
                    '|', 'link'
                ]
            },
            language: 'it',
			sourceEditing: {
				allowCollaborationFeatures: true
			}
		} )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err );
		} );

    
   
    document.addEventListener('DOMContentLoaded', function() {

        Delegate(document).on('click', '.save-insufflaggio', function() {
            window.editor.updateSourceElement();
            let _frm = document.querySelector('.contact-form');
            let validation = (new FormValidator({alerts: false})).checkAll(_frm);
            if (!validation.valid) {
                validation.fields.forEach(entry => {
                    entry.field.closest('.form-group').classList.toggle('has-error', !entry.valid);
                });
                return new resAlert('Operazione fallita', 'I campi contrassegnati in rosso sono incompleti o contengono valori non validi.', {type:'error'});
            }
            let data = (new FormSerializer(_frm)).serialize();
            this.classList.add('loading');
            HttpRequest.post(`${res.absolutePath}api/insufflaggio`, data, response => {
                this.classList.remove('loading');
                if (response.status != 1) {
                    throw response.message ?? 'Errore generico';
                }
                window.location = `${res.path}insufflaggio-list`;
            }, err => resAlert.error('Operazione fallita', err.toString()));
        });    

    });
    /**/  

</script>
{% endblock content %}