{% extends "index.twig" %}
{% block content %}
<div class="widget login">
	<div class="content">
		<form class="login-form text-center" action="javascript:void(0);" method="POST">
			<img src="{{ theme }}assets/img/logo-square.svg" class="center-block mt5 mb5" height="65">
			<h4 class="fw400">Effettua il login</h4>
			<p class="mb15">Inserisci le tue credenziali per accedere</p>
			<div class="input-group mb-3">
				<input type="text" name="username" class="form-control" placeholder="Indirizzo email, es. utente@unires.it">
			</div>
			<div class="input-group mb-3">
				<input type="password" name="password" class="form-control" placeholder="Password">
			</div>
			<a href="{{ path }}password-restore-form" class="display-block">Ho dimenticato la mia password</a>
			<button type="submit" class="btn btn-info action login mt15">EFFETTUA L&rsquo;ACCESSO</button>
		</form>
	</div>
</div>
{% endblock content %}