{% extends "index.twig" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 style="color: #777; font-size: 150px; font-weight: bold; text-align: center;">404</h1>
        <h2 style="color: #777; font-size: 38px; font-weight: bold; text-align: center;">NOT FOUND</h2>
        <h4 style="color: #777; text-align: center;">La pagina richiesta non esiste oppure &egrave; in fase di allestimento.</h4>
    </div>
</div>
{% endblock content %}